/* Los estilos se aplican a todo el documento */
body {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(99, 0, 0, 0.5)),
                      url(/assets/images/Fondo\ 3.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.estilo-2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    border: 10px solid;
    border-radius: 10px;
    border-color: blanchedalmond;
    border-style: groove;
    margin: 20px;
    text-align: center;
    text-decoration: underline;
}
.social-icon {
    height: 50px;
}
