/* Los estilos se aplican a todo el documento */
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-image: linear-gradient(135deg, rgb(39, 53, 133), rgb(99, 0, 0)),
                      url(/assets/images/Fondo\ 3.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    max-width: 800px;
    margin: auto;
    margin-bottom: 24px;
    text-align: center;
    font-weight: 500;
}

header h1 {
    color: #fff;
    line-height: 0px;
    margin-top: 200px;

}

.image-center {
    text-align: center;
}

.profilepicture {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.estilo-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    border: 10px solid;
    border-radius: 10px;
    border-color: blanchedalmond;
    border-style: groove;
    margin: 20px;
    text-align: left;
    margin: 300px;
    padding: 10px 20px 10px 20px;
}
.social-icon {
    height: 50px;
    width: 50px;
}

footer {
    max-width: 800px;
    margin: auto;
    margin-top: 24px;
}

.social-network {
    list-style: none;
    min-height: 60px;
}

.social-network li {
    float:left;
    margin: 0 24px;
}

